<div class="container-fluid">
  <div class="row p-4 mt-1">
    <%= render :'shared/item_form' %>
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-6">
      <table class="table Drinks">
        <thead>
          <tr>
            <th scope='col'> # </th>
            <% item.attributes.each do |attr| %>
              <th scope='col'> <%= attr %> </th>
            <% end %>
            <th scope='col'>Action</th>
          </tr>
        </thead>
        <tbody>
          <% item.drinks.each_with_index do |drink, index| %>
            <tr id="<%=drink.id%>">
              <th scope='row'> <%= index+1 %> </th>
              <td data-attr='name'><%= drink.name %></td>
              <td data-attr='quantity'><%= drink.quantity %></td>
              <td data-attr='price'><%= drink.price %></td>
              <td data-attr='image_url'> <img src="<%= drink.image_url %>" width="60" height="60"></td>
              <td> Drink </td>
              <td>
                <div class="btn-group-sm btn-group" role='group'>
                  <button class='edit btn btn-success' data-id="<%= drink.id %>" >Edit</button>
                  <button class='btn btn-success'>Delete</button>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table Snacks">
        <thead>
          <tr>
            <th scope='col'> # </th>
            <% item.attributes.each do |attr| %>
              <th scope='col'> <%= attr %> </th>
            <% end %>
            <th scope='col'>Action</th>
          </tr>
        </thead>
                <tbody>
          <% item.snacks.each_with_index do |snack, index| %>
            <tr id="<%=snack.id%>">
              <th scope='row'> <%= index+1 %> </th>
              <td data-attr='name'><%= snack.name %></td>
              <td data-attr='quantity'><%= snack.quantity %></td>
              <td data-attr='price'><%= snack.price %></td>
              <td data-attr='image_url'> <img src="<%= snack.image_url %>" width="60" height="60"></td>
              <td> Snack </td>
              <td>
                <div class="btn-group-sm btn-group" role='group'>
                  <button class='edit btn btn-success' data-id="<%=snack.id%>">Edit</button>
                  <button class='btn btn-success'>Delete</button>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>