<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Iss Pay</a>

  <% if @current_user %>
    <div id='current_user' data-id='<%= @current_user.message_id %>'></div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
          Purchase
        </button>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <span> Balance: <%= @current_user.balance %> </span>
      </li>
      <li class='nav-item'>
        <span> Credit: <%= @current_user.credit %> </span>
      </li>
      <li class="nav-item">
        <span> Purchase Debit: <%= @current_user.debit('purchase') %> </span>
      </li>
      <li class="nav-item">
        <span> Transfer Debit: <%= @current_user.debit('transfer') %> </span>
      </li>
    </ul>

    <ul class="nav justify-content-end">
      <% if @current_user.admin? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id='navbarDropdown' role='button' data-toggle='dropdown'  aria-haspopup="true" aria-expanded="false">
            Admin Tasks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/items" class="dropdown-item">Item Management</a>
            <a href="/users" class="dropdown-item">Member Management</a>
            <a href="/transactions" class="dropdown-item">Transaction Management</a>
          </div>
        </li>
      <% end %>
      <li class='nav-item'>
        <a class="nav-link" href="/user"> <%= @current_user.first_name %> </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href="/users/logout"> Logout </a>
      </li>
    </ul>
  <% end %>
</nav>