
  <div class="col mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope='col'>#</th>
          <% IssPay::User.attributes.each do |attr| %>
            <th scope='col'> <%= attr %> </th>
          <% end %>
          <th scope='col'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.each_with_index do |user, index| %>
          <tr class="user" id="<%= user.id %>">
            <th scope='row'> <%= index+1 %> </th>
            <td data-attr='message_id'> <%= user.message_id %> </td>
            <td data-attr='email'> <%= user.email %> </td>
            <td data-attr='student_id'> <%= user.student_id %> </td>
            <td data-attr='full_name'> <%= user.full_name %> </td>
            <td data-attr='member_type'> <%= user.member_type %> </td>
            <td data-attr='credit'> <%= user.credit %> </td>
            <td data-attr='purchase_debit'> <%= user.purchase_debit %> </td>
            <td data-attr='transfer_debit'> <%= user.transfer_debit %> </td>
            <td>
                <div class="btn-group-sm btn-group" role='group'>
                  <button class='edit btn btn-success' data-id='<%=user.id%>'>Edit</button>
                  <button class='delete btn btn-success' data-id='<%=user.id%>'>Delete</button>
                </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </talbe>
  </div>